/*borders and padding are included within the width or height of an element. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding-top:40px;   /*gap above navbar*/
    background: linear-gradient(to right, rgba(0,0,0,0),  grey);
    background-image: url("images/homepage4.jpg");
    background-size:cover;
}
#blog_body{
    font-size:0.75em;
}
/* Landscape tablets and medium desktops */
@media (min-width: 769px)  {
    .navbar-nav>li a {
        line-height: 2em;
        font-size: 2em;
    }
    .nav-pills>li a {
        line-height: 1.5em;
        font-size: 1.5em;
    }
    body > div{
        font-size:1.5em;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .nav-pills {
        line-height: 1em;
        font-size: 1em;
    }
    .navbar-brand > img {
        width: 150px;
        height: 80px;
    }
    #about > img {
        width:50%;
        height:50%;
    }
}


.carousel-inner > .item > img {
  width:600px;
  height:320px;
}

li a {
    color:black;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}
/* move logo closer to top*/
.navbar-brand {
    margin-top:-20px;
}

.navbar-default .navbar-nav > li > a {
   color: black; /*Change active text color here*/
    }


.testimonialsboxed {
    font-family: Lucida Handwriting;
    margin-bottom:30px;
}

#panel_blog{
    margin-top:25px;
    margin-bottom: 25px;
}

footer{
    text-align: center;
}



