body {
    font-family: Arial;
}

h1 a {
    color: #555555;
    text-decoration: none;
}

.carousel-inner > .item > img {
  width:440px;
  height:260px;
}
body {
    background: linear-gradient(to right, rgba(0,0,0,0),  grey);
    background-image: url("images/homepage4.jpg");
    background-size:cover;
}