body {
    font-family: Arial;
    font-size:15px;
    padding-top:50px;
    background: linear-gradient(to right, rgba(0,0,0,0),  grey);
    background-image: url("images/homepage4.jpg");
    background-size:cover;
}

.carousel-inner > .item > img {
  width:440px;
  height:260px;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}
.navbar-brand{
    margin-bottom:10px;
}
.nav-pills{
    margin-top: 10px;
}
.boxed {
    border: 1px solid ;
    font-family: Lucida Handwriting;
    margin-bottom:30px;
}
#panel_blog{
    margin-top:25px;
    margin-bottom: 25px;

}

.footer {
    height:150px;
    background: #000000;
    text-align: center;
}



