{% extends "base.html" %}
{% block content %}

    <hr>
    <div class="container">
       <div class="row">
           <div class="col-sm-8">
               <p><strong>What our clients say</strong></p>
               {%  for t in var_testimonials_list %}
                   <div class="testimonialsboxed">
                       <p>{{ t.testimonial}}</p>
                       <p> {{ t.user_id}} </p>
                       {{ t.location}}
                   </div>

               {% endfor %}
           </div>
       </div>
    </div>
{% endblock %}
