{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-top:40px;">
       <div class="row">
            <div class="col-sm-3 col-md-3">
              <p><strong>What our clients say:</strong></p>
            </div>
           <div class="col-sm-9 col-md-8">
                {%  for t in var_testimonials_list %}
                   <div class="testimonialsboxed">
                       <p style="font-family:Lucida Handwriting;">{{ t.testimonial}}</p>
                       <p style="font-size:0.6em"> {{ t.user_id}},   {{ t.location}} </p>

                   </div>
               {% endfor %}
           </div>
       </div>
    </div>
{% endblock %}
<!--font-family: 'Droid Serif', serif;
    font-size: 12px-->