{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container">
    <h5>Blog</h5>
        <div class="row">
            <div class="col-sm-12 col-md-6" id="blog_body">
                {% for post in vposts %}
                    <h6>{{ post.title }}</h6>
                    <p><button class="btn btn-xs" onclick="location.href={{ post.id }}" style="float:right;">Continue Reading</button></p>
                    <p style="font-size:0.75em;">{{ post.created_date }}   in   {{ post.category }}</p>
                    <p style="font-size:0.85em;">{{ post.body|truncatewords:50 }}</p>
                    <hr>
                {% endfor %}
            <br>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src={% static "css/images/pinned.jpg" %}>
                {% for post in vposts %}
                    {% if post.pinned %}
                        <h4>{{ post.title }}</h4>
                            <p style="font-size:0.65em;">{{ post.created_date }}   in   {{ post.category }}</p>
                            <p style="font-size:0.85em;">{{  post.body|linebreaks}} </p>
                    {% endif %}
                 {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


