{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>M H Maintenance Services Ltd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!--add class to fix nav to top -->
    <!--<a class="navbar-brand" href="#">M H Maintenance Services Ltd</a>-->
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src={% static "css/images/mhlogo.jpg" %}>
                </a>
            </div>

           <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'plumbing' %}">Plumbing</a></li>
                    </ul>
                </li>
               <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
               <li><a href="{% url 'testimonial' %}">Testimonials</a></li>
               <li><a href="/pages/about/">About Us</a></li>
               <li><a href="{% url 'contactus' %}">Contact Us</a></li>
               <li><a href="{% url 'register' %}">Register</a></li>
               <li><a href="{% url 'login' %}">Log In</a></li>
               <li><a href="{% url 'logout' %}">Log Out</a></li>
               <li><a href="{% url 'blog' %}">Blog</a></li>
           </ul>
        </div>

    </nav>
    <hr>
    <div class="container">
       {% block content %}
       {% endblock %}
    </div>
    <hr>
    <div class="footer">
       <p style="text-align:center">Copyright 2017 K Kalirai</p>
          <!-- Add font awesome icons -->
       <p style="text-align: right">
            <a href="https://www.facebook.com/pages/M-H-Maintenance-Services/703595743077004?pnref=lhc" class="fa fa-facebook"></a>
            <a ref="https://twitter.com/Kazkal50?lang=en" class="fa fa-twitter"></a>
       </p>
    </div>

</body>

<!-- script references -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
</script>
</html>