{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>   </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
</head>
<body>
    <div class="content">
    <!--not fixed-->
	<nav class="navbar navbar-default" style="background:#c0c0c0;">
        <div class="container">
            <div class="navbar-header">
                <!--collapse navbar into a menu button-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id="logo" src={% static "css/images/mhlogo3.png" %}>
                </a>
            </div>
            <!--the content  to be collapsed needs to be wrapped in a <div> with classes .collapse, .navbar-collapse. -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'plumbing' %}">Plumbing</a></li>
                            <li><a href="{% url 'heating' %}">Heating</a></li>
                            <li><a href="{% url 'electrical' %}">Electrical</a></li>
                            <li><a href="{% url 'bathrooms' %}">Bathrooms</a></li>
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                            <li><a href="{% url 'testimonial' %}">Testimonials</a></li>
                            <li><a href="/pages/about/">About Us</a></li>
                            <li><a href="{% url 'contactus' %}">Contact Us</a></li>
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                        <li><a href="{% url 'payinvoice' %}">Pay Invoice</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li onclick="myFunction()"><a href="{% url 'blog' %}">Blog</a></li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>
    <hr>
    <div class="container">
       {% block content %}
       {% endblock %}
    </div>
    </div>

    <footer id="site-footer">
        <div class="row">
            <div class="col-sm-6 col-md-4" data-toggle="tooltip" title="Contact us">
                <strong>M H Maintenance Services</strong>
                <br>64 Barnehurst Avenue
                <br>Derby
                <br>DE23 6QB
            </div>
            <div class="col-sm-6 col-md-4">
                Tel 020 8435 6544
                <br>Fax 0872 223 5463
                <br>
                <a href="mailto:info@mhservices.co.uk">info@mhservices.co.uk</a>
                {% if user.is_authenticated %}
                    <br>You are logged in as {{ user.email }}
                {% endif %}
            </div>
            <div class="col-sm-6 col-md-4">
                 <p>Copyright 2017 K Kalirai</p>
                <a href="https://www.facebook.com/kashmir.kalirai" class="fa fa-facebook-square" style="font-size:36px"></a>
                <a href="https://twitter.com/Kazkal50?lang=en" class="fa fa-twitter-square" style="font-size:36px"></a>
                 <a href="https://www.linkedin.com/in/kashmir-kalirai-a83a1729/" class="fa fa-linkedin-square" style="font-size:36px"></a>
                <a href="https://www.pinterest.co.uk/" class="fa fa-pinterest-square" style="font-size:36px"></a>
            </div>
        </div>
    </footer>
    <script src={% static "js/main.js" %}></script>
</body>

<!-- script references -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>