{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top:20px;">
        <h2>{{ flatpage.title }}</h2>
        <br>

        <div class="row">
            <div class="col-sm-12 col-lg-6">
                 <img src={% static "css/images/aboutus.jpg" %} style="width:450px;height:280px">
            </div>
            <div class="col-sm-12 col-lg-6">
               {{ flatpage.content }}
            </div>
        </div>
        <div class="row" id="about">
            <div class="col-sm-3 col-lg-1" >
                <img src={% static "css/images/badge4.png" %}>
            </div>
            <div class="col-sm-3 col-lg-2" >
                <img src={% static "css/images/badge2.png" %}>
            </div>
            <div class="col-sm-3 col-lg-2">
                <img src={% static "css/images/badge3.png" %}>
            </div>
        </div>
    </div>
{% endblock %}