{% extends "base.html" %}
{% load static %}
{% block content %}
    {%  load bootstrap_tags %}
     <div class="container">
        <h2>Bathrooms</h2>
        <div class="row">
            <div class="col-sm-4">
                 <img class="hidden-xs" src={% static "css/images/bathroom.jpg" %} alt="Plumbing" style="width:350px;height:280px">
            </div>
            <div class="col-sm-4">
                 <h3>
                    H M Maintenance Services consider the bathroom to be  one of the most important features in a house.
                     We  install and refurbish  bathrooms, shower rooms, cloakrooms and wet rooms.
                     <br>
                     <br>
                     We will fit baths, showers, toilets and basins, new shelving units, lighting, underfloor heating as well as tiling,
                     painting and decorating provides a fully managed bathroom refurbishment service carrying out all aspects of a completely.
                     Ring us for a quote today.
                 </h3>
            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-3">
                <strong>Contact us today</strong>
                <form method="POST">
                    {% csrf_token %}    <!--security measure to prevent Cross Site Request Forgery.-->
                    {{ form | as_bootstrap }}     <!--implement the custom package just installed django-forms-bootstrap-->
                    <button type="submit" class="btn btn-info">Send</button>
                </form>
            </div>
        </div>
     </div>
{% endblock %}