{% extends "base.html" %}
{% load static %}
{% block content %}
    {%  load bootstrap_tags %}
     <div class="container">

        <div class="row">
            <div class="col-sm-10 col-md-6">
                <h2>Electrical</h2>
                 <img class="hidden-xs" src={% static "css/images/electrical.jpg" %} >
            </div>
            <div class="col-sm-10 col-md-3" style="margin-top:50px;">
                 Our electrical services include fault finding, re-wiring, safety checks and new installations.
                 By law, you have to be fully qualified as an electrician to carry out any major household electrical maintenance.
                 <br>
                <br>
                So don’t leave it to chance, or risk your family’s safety – our electricians are all fully qualified.
                 <br>
                <br>
                Get in touch for enquiries and estimates.
            </div>
            <div class="col-sm-10 col-md-3">
                <strong>Contact us today:</strong>
                <form method="POST">
                    {% csrf_token %}    <!--security measure to prevent Cross Site Request Forgery.-->
                    {{ form | as_bootstrap }}     <!--implement the custom package just installed django-forms-bootstrap-->
                    <button type="submit" class="btn btn-info">Send</button>
                </form>
            </div>
        </div>
     </div>
{% endblock %}