{% extends "base.html" %}
{% load static %}
{% block content %}
    {%  load bootstrap_tags %}
     <div class="container" style="margin-top:10px;">
        <h2>Plumbing</h2>
        <div class="row">
            <div class="col-sm-4">
                 <img class="hidden-xs" src={% static "css/images/plumbing1.jpg" %} alt="Plumbing" style="width:350px;height:280px">
            </div>
            <div class="col-sm-4">
                Our qualified engineers offer advice and solutions for all your plumbing requirements.
                 No job is too small for our gas safe certified plumbers. <br><br>Some of the jobs we handle
                 include leaks, burst pipes, blocked toilets and drainage problems.
            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-3">
                <strong>Contact us today</strong>
                <form method="POST">
                    {% csrf_token %}    <!--security measure to prevent Cross Site Request Forgery.-->
                    {{ form | as_bootstrap }}     <!--implement the custom package just installed django-forms-bootstrap-->
                    <button type="submit" class="btn btn-info">Send</button>
                </form>
            </div>
        </div>
     </div>
{% endblock %}